<?xml version="1.0"?>
<launch>
  <arg name="trt_encoder_model_file" default="" />
  <arg name="trt_decoder_model_file" default="" />
  <arg name="image_dir" default="" />
  <arg name="gt_file" default="" />

  <node pkg="trtr" type="trtr_tracker_node" name="trtr_tracker_node" output="screen" >
    <param name="trt_encoder_model_file" value="$(arg trt_encoder_model_file)"/>
    <param name="trt_decoder_model_file" value="$(arg trt_decoder_model_file)"/>
    <param name="image_dir" value="$(arg image_dir)"/>
    <param name="gt_file" value="$(arg gt_file)"/>
  </node>

</launch>
